name: Upload to S3
on: [pull_request,push]
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: /home/runner/work/gitaction2/.github/actions/s3-upload-file-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          file_path: 'dist/swimlane-python.pyz'
          file_mime_type: 'application/zip'
          dest_dir: 'python_releases'
